.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.clearfix:before {
  content: '';
  display: table;
}

html, body {
	overflow: auto !important;
	overflow-x: hidden !important;
	background-color: #ededed;
}

.header {
	height: 80px;
	background-color: #fff;
	padding: 16px 50px 0;
	display: block;
	position: static;
	float: none;
}
.header .mob-header {

}
.header .mob-header .back {
	color: rgba(60,32,84,.4);
	font-size: 20px;
	font-family: "PFDinTextRegular";
	display: block;
	float: left;
	padding-left: 22px;
	position: relative;
}
.header .mob-header .back::before {
	content: '';
	width: 11px;
	height: 19px;
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -9.5px;
	background-image: url(../img/arrow.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.header .mob-header .search {
	width: 24px;
	height: 24px;
	text-indent: -9999px;
	display: block;
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: right;
}
.header .search {
	width: 24px;
	height: 24px;
	text-indent: -9999px;
	display: block;
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: right;
	margin-top: 12px;
}
.header .logo {
	float: left;
}
.header .logo .link {

}
.header .nav {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
	float: left;
	padding-left: 80px;
	padding-top: 12px;
}
.header .nav .item {
	display: inline-block;
	padding-right: 40px;
	position: relative;
}
.header .nav .item:last-child {
	padding-right: 0;
}
.header .nav .item:last-child::after {
	display: none;
}
.header .nav .item::after {
	content: '';
	display: block;
	height: 1px;
	width: 40px;
	background-color: #ebe8ee;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.header .nav .item .link {
	color: #3c2054;
	font-size: 18px;
	font-family: "PFDinTextRegular";
	display: block;
	text-decoration: none;
	padding: 0 20px;
}
.header .nav .item .link:hover {
	text-decoration: none;
	color: #7d27d3;
}
.header .nav .active .link {
	color: #7d27d3;
}

.c-page {
	width: 900px;
	margin: 0 auto;
	background-color: #fff;
}

.page {
	padding: 80px 120px;
	background-color: #ededed;
}
.page .title {
	color: #3c2054;
	font-size: 44px;
	font-family: "PFDinTextMedium";
	line-height: 100%;
	margin: 0;
	padding-bottom: 80px;
}
.page .news-list {
	list-style: none;
	padding: 0;
	margin: 0;
	padding-bottom: 80px;
}
.page .news-list:last-child {
	padding-bottom: 0;
}
.page .news-list .item {
	padding-bottom: 30px;
}
.page .news-list .time {
	float: left;
	width: 272px;
	color: rgba(60,32,84,.4);
	font-family: "PFDinTextMedium";
	font-size: 14px;
	line-height: auto;
	letter-spacing: 0.05px;
	padding-top: 9px;
}
.page .news-list .link {
	float: left;
	display: inline-block;
	font-size: 20px;
	color: #3c2054;
	line-height: 32px;
	font-family: "PFDinTextMedium";
	text-decoration: none;
	width: 650px;
}
.page .news-list .link:hover {
	text-decoration: underline;
	color: #3c2054;
}
.page .news-list .button-wp {
	width: 100%;
	padding-left: 272px;
	padding-top: 48px;
}
.page .news-list .button-wp .button {
	display: inline-block;
	padding: 0 25px;
	height: 44px;
	line-height: 44px;
	background-color: #7d27d3;
	color: #fff;
	text-decoration: none;
	border-radius: 22px;
	font-family: "PFDinTextRegular";
	font-size: 20px;
}
.page .news-comp-list {

}
.page .news-comp-list .item {
	padding-bottom: 40px;
}
.page .news-comp-list .item .image-wp {
	float: left;
	padding-right: 60px;
}
.page .news-comp-list .item .image-wp img {
	width: 230px;
	height: 130px;
	display: block;
}
.page .news-comp-list .item .text-wp {
	float: left;
	width: 705px;
	margin-top: -10px;
}
.page .news-comp-list .item .text-wp .title {
	color: #3c2054;
	text-decoration: none;
	font-size: 20px;
	line-height: 32px;
	font-family: "PFDinTextMedium";
}
.page .news-comp-list .item .text-wp .title:hover {
	color: #3c2054;
	text-decoration: underline;
}
.page .news-comp-list .item .text-wp .description {
	color: #3c2054;
	font-family: "PFDinTextLight";
	font-size: 20px;
	line-height: 32px;
	padding: 16px 0;
}
.page .news-comp-list .item .text-wp .more {
	color: #b3b3b3;
	font-size: 20px;
	line-height: 32px;
	font-family: "PFDinTextRegular", sans-serif;
}
.page .news-comp-list .item .time {
	float: left;
	width: 272px;
	color: rgba(60,32,84,.4);
	font-family: "PFDinTextMedium";
	font-size: 14px;
	line-height: auto;
	letter-spacing: 0.05px;
	padding-top: 9px;
	display: none;
}

.content-wp {
	padding: 40px 90px;
}
.content-wp p {
	font-size: 20px;
	line-height: 32px;
	font-family: "PFDinTextLight";
	color: #3c2054;
}
.content-wp .social-row {
	font-size: 0;
	padding: 30px 0;
}
.content-wp .social-row .item {
	display: inline-block;
	padding-right: 20px;
}
.content-wp .social-row .item .link {
	width: 45px;
	height: 45px;
	display: block;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 1px solid #e7e7e7;
	background-repeat: no-repeat;
	background-position: center center;
}
.content-wp .button-wp {

}
.content-wp .button-wp .button {
	display: inline-block;
	padding: 0 25px;
	height: 44px;
	line-height: 44px;
	background-color: #7d27d3;
	color: #fff;
	text-decoration: none;
	border-radius: 22px;
	font-family: "PFDinTextRegular";
	font-size: 20px;
}

.c-page .img-wp {
	position: relative;
	width: 100%;
	height: auto;
}
.c-page .img-wp::after {
	height: 324px;
	width: 100%;
	display: block;
	content: '';
	background-image: url(../img/grad.png);
	background-repeat: repeat-x;
	background-position: center center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.c-page .img-wp img {
	display: block;
	width: 100%;
	height: auto;
}
.c-page .img-wp h2 {
	position: absolute;
	display: block;
	width: auto;
	left: 40px;
	right: 40px;
	bottom: 30px;
	color: #fff;
	font-size: 46px;
	font-family: "PFDinTextMedium";
	line-height: 100%;
	z-index: 2;
}

.go-index {
	display: block;
	width: 100%;
}
.go-index .button {
	width: 100%;
	display: block;
	height: 60px;
	background-color: #3c2054;
	color: #fff;
	line-height: 60px;
	font-size: 20px;
	font-family: "PFDinTextLight";
}
.more-news-wp {
	padding-left: 290px;
}
.more-news-wp .more-news {
	color: #7d27d3;
	font-family: "PFDinTextRegular";
	font-size: 25px;
	line-height: 30px;
}
.more-news-wp .more-news span {
	margin-right: 16px;
	display: inline-block;
}

/*footer*/

.footer::after {
	display: none;
}

/*адаптив*/

@media (max-width: 1235px) {
	.page .news-comp-list .item .text-wp {
		width: 470px;
	}
}

@media (max-width: 1163px) {
	.page .news-list .link {
		width: 480px;
	}
	.header .nav .item .link {
		padding: 0 10px;
	}
}
@media (max-width: 1000px) {
	.c-page .img-wp::after {
		height: 100%;
	}
	.page .title {
		padding-bottom: 0;
	}
	.header .search {
		display: none;
	}
	.c-page .more-news-wp {
		padding: 30px 30px;
		background-color: #f7f7f7;
		margin-top: -24px;
	}
	.c-page {
		width: 100%;
	}
	.c-page .img-wp h2 {
		font-size: 26px;
	}
	.c-page .img-wp .time {
		display: block;
		color: #fff;
		z-index: 2;
		font-size: 14px;
		font-family: "PFDinTextMedium";
		letter-spacing: 0.05px;
		position: absolute;
		left: 30px;
		top: 20px;
	}
	.c-page .img-wp h2 {
		left: 30px;
		right: 30px;
		bottom: 20px;
	}
	.content-wp p {
		font-size: 18px;
		line-height: 30px;
	}
	.content-wp {
		padding: 24px 30px;
	}
	.content-wp .button-wp {
		display: none;
	}
	.page .news-comp-list .item .time {
		display: block;
		width: 100%;
	}
	.more-news-wp {
		padding-left: 0;
		padding-bottom: 40px;
	}
	.more-news-wp .more-news {
		font-size: 20px;
	}
	.page .news-comp-list .item {
		padding-bottom: 30px;
	}
	.page .news-comp-list .item .text-wp {
		width: 100%;
		margin-top: 0;
	}
	.page .news-comp-list .item .text-wp .title {
		font-family: "PFDinTextLight";
		line-height: 30px;
		font-size: 18px;
		display: inline-block;
		width: 100%;
	}
	.page .news-comp-list .item .text-wp .description,
	.page .news-comp-list .item .text-wp .more {
		display: none;
	}
	.page .news-comp-list .item .image-wp {
		display: none;
	}
	.footer {
		display: none !important;
	}
	.page {
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 30px;
		padding-bottom: 0;
	}
	.page .title {
		display: none;
	}
	.page .news-list .time,
	.page .news-list .link {
		width: 100%;
	}
	.page .news-list .link {
		font-family: "PFDinTextLight";
		line-height: 30px;
		font-size: 18px;
	}
	.header .logo,
	.header .nav {
		display: none;
	}
	.header {
		height: 60px;
		padding-left: 30px;
		padding-right: 30px;
	}
	.header .mob-header .search {
		margin-top: 3px;
	}
	.page .news-list .button-wp {
		padding-left: 0;
		width: 100%;
		padding-top: 10px;
	}
	.page .news-list .button-wp .button {
		width: 100%;
	}
	.page .news-list {
		padding-top: 0;
		padding-bottom: 40px !important;
	}
}
@media (min-width: 1001px) {
	.go-index,
	.header .mob-header,
	.c-page .more-news-wp,
	.c-page .img-wp .time {
		display: none;
	}
}