.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.clearfix:before {
  content: '';
  display: table;
}

html, body {
	overflow: auto !important;
	overflow-x: hidden !important;
	background-color: #ededed;
}

.f-page .amenities .item .link .button,
.f-page .amenities .item .link .button::after {
	transition: ease-in-out 0s !important;
}

.header {
	height: 80px;
	background-color: #fff;
	padding: 16px 50px 0;
	display: block;
	position: relative;
	float: none;
	top: 0;
}
.header .mob-header {

}
.header .mob-header .back {
	color: rgba(60,32,84,.4);
	font-size: 20px;
	font-family: "PFDinTextRegular";
	display: block;
	float: left;
	padding-left: 22px;
	position: relative;
}
.header .mob-header .back::before {
	content: '';
	width: 11px;
	height: 19px;
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -9.5px;
	background-image: url(../img/arrow.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.header .mob-header .search {
	width: 24px;
	height: 24px;
	text-indent: -9999px;
	display: block;
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: right;
}
.header .search {
	width: 24px;
	height: 24px;
	text-indent: -9999px;
	display: block;
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: right;
	margin-top: 12px;
}
.header .logo {
	float: left;
}
.header .logo .link {

}
.header .nav {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
	float: left;
	padding-left: 80px;
	padding-top: 12px;
}
.header .nav .item {
	display: inline-block;
	padding-right: 40px;
	position: relative;
}
.header .nav .item:last-child {
	padding-right: 0;
}
.header .nav .item:last-child::after {
	display: none;
}
.header .nav .item::after {
	content: '';
	display: block;
	height: 1px;
	width: 40px;
	background-color: #ebe8ee;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.header .nav .item .link {
	color: #3c2054;
	font-size: 18px;
	font-family: "PFDinTextRegular";
	display: block;
	text-decoration: none;
	padding: 0 20px;
}
.header .nav .item .link:hover {
	text-decoration: none;
	color: #7d27d3;
}
.header .nav .active .link {
	color: #7d27d3;
}

.c-page {
	width: 900px;
	margin: 0 auto;
	background-color: #fff;
}
.f-page {
	margin: 0;
	padding: 0;
	width: 100%;
}
.page {
	padding: 80px 120px;
	background-color: #ededed;
}
.page .title {
	color: #3c2054;
	font-size: 44px;
	font-family: "PFDinTextMedium";
	line-height: 100%;
	margin: 0;
	padding-bottom: 80px;
}
.page .news-list {
	list-style: none;
	padding: 0;
	margin: 0;
	padding-bottom: 80px;
}
.page .news-list:last-child {
	padding-bottom: 0;
}
.page .news-list .item {
	padding-bottom: 30px;
}
.page .news-list .time {
	float: left;
	width: 272px;
	color: rgba(60,32,84,.4);
	font-family: "PFDinTextMedium";
	font-size: 14px;
	line-height: auto;
	letter-spacing: 0.05px;
	padding-top: 9px;
}
.page .news-list .link {
	float: left;
	display: inline-block;
	font-size: 20px;
	color: #3c2054;
	line-height: 32px;
	font-family: "PFDinTextMedium";
	text-decoration: none;
	width: 650px;
}
.page .news-list .link:hover {
	text-decoration: underline;
	color: #3c2054;
}
.page .news-list .button-wp {
	width: 100%;
	padding-left: 272px;
	padding-top: 48px;
}
.page .news-list .button-wp .button {
	display: inline-block;
	padding: 0 25px;
	height: 44px;
	line-height: 44px;
	background-color: #7d27d3;
	color: #fff;
	text-decoration: none;
	border-radius: 22px;
	font-family: "PFDinTextRegular";
	font-size: 20px;
}
.page .news-comp-list {

}
.page .news-comp-list .item {
	padding-bottom: 40px;
}
.page .news-comp-list .item .image-wp {
	float: left;
	padding-right: 60px;
}
.page .news-comp-list .item .image-wp img {
	width: 230px;
	height: 130px;
	display: block;
}
.page .news-comp-list .item .text-wp {
	float: left;
	width: 705px;
	margin-top: -10px;
}
.page .news-comp-list .item .text-wp .title {
	color: #3c2054;
	text-decoration: none;
	font-size: 20px;
	line-height: 32px;
	font-family: "PFDinTextMedium";
}
.page .news-comp-list .item .text-wp .title:hover {
	color: #3c2054;
	text-decoration: underline;
}
.page .news-comp-list .item .text-wp .description {
	color: #3c2054;
	font-family: "PFDinTextLight";
	font-size: 20px;
	line-height: 32px;
	padding: 16px 0;
}
.page .news-comp-list .item .text-wp .more {
	color: #b3b3b3;
	font-size: 20px;
	line-height: 32px;
	font-family: "PFDinTextRegular", sans-serif;
}
.page .news-comp-list .item .time {
	float: left;
	width: 272px;
	color: rgba(60,32,84,.4);
	font-family: "PFDinTextMedium";
	font-size: 14px;
	line-height: auto;
	letter-spacing: 0.05px;
	padding-top: 9px;
	display: none;
}

.content-wp {
	padding: 40px 90px;
}
.content-wp p {
	font-size: 20px;
	line-height: 32px;
	font-family: "PFDinTextLight";
	color: #3c2054;
}
.content-wp .social-row {
	font-size: 0;
	padding: 30px 0;
}
.content-wp .social-row .item {
	display: inline-block;
	padding-right: 20px;
}
.content-wp .social-row .item .link {
	width: 45px;
	height: 45px;
	display: block;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 1px solid #e7e7e7;
	background-repeat: no-repeat;
	background-position: center center;
}
.content-wp .button-wp .button {
	display: inline-block;
	padding: 0 25px;
	height: 44px;
	line-height: 44px;
	background-color: #7d27d3;
	color: #fff;
	text-decoration: none;
	border-radius: 22px;
	font-family: "PFDinTextRegular";
	font-size: 20px;
}

.c-page .img-wp {
	position: relative;
	width: 100%;
	height: auto;
}
.c-page .img-wp::after {
	height: 324px;
	width: 100%;
	display: block;
	content: '';
	background-image: url(../img/grad.png);
	background-repeat: repeat-x;
	background-position: center center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.c-page .img-wp img {
	display: block;
	width: 100%;
	height: auto;
}
.c-page .img-wp h2 {
	position: absolute;
	display: block;
	width: auto;
	left: 40px;
	right: 40px;
	bottom: 30px;
	color: #fff;
	font-size: 46px;
	font-family: "PFDinTextMedium";
	line-height: 100%;
	z-index: 2;
}
.f-page .amenities .item {
	color: #666;
	width: 33.33333%;
	float: left;
	font-size: 16px;
	height: 350px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.f-page .amenities .item .link {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	background-image: url(../img/grad.png);
	background-repeat: repeat-x;
	background-position: center bottom;
}
.f-page .amenities .item .link .scroll {
	height: 115px;
	width: auto;
	margin-left: 50px;
	margin-right: 50px;
	overflow: auto;
	display: none;
	position: absolute;
	bottom: 110px;
	z-index: 995;
}
.f-page .amenities .item .link .scroll .mCSB_draggerContainer {
	width: 1px !important;
	background-color: rgba(225,225,225,.2) !important;
}
.f-page .amenities .item .link .scroll .mCSB_dragger,
.f-page .amenities .item .link .scroll .mCSB_dragger_onDrag {
	width: 2px !important;
	background-color: rgba(225,225,225,.4) !important;
	opacity: 1 !important;
	position: absolute;
	right: 0;
}
.f-page .amenities .item .link .scroll .item {
	height: auto;
	display: block;
	width: 80%;
	color: #fff;
	line-height: 30px;
	font-size: 20px;
	font-family: "PFDinTextLight";
	padding-left: 20px;
	position: relative;
}
.f-page .amenities .item .link .scroll .item::before {
	content: '+';
	position: absolute;
	left: 0;
	top: 0;
}
.content-wp .more-ysl {
	padding-bottom: 40px;
	padding-top: 40px;
	border-top: 1px solid #ebe8ee;
	margin-top: 20px;
	position: relative;
}
.content-wp .more-ysl .title {
	color: rgba(60, 32, 84,.4);
	font-size: 14px;
	letter-spacing: 0.05px;
	font-family: "PFDinTextMedium";
	background-color: #fff;
	position: absolute;
	padding-right: 40px;
	top: -18px;
	left: 0;
}
.content-wp .more-ysl .item {
	display: block;
}
.content-wp .more-ysl .item a {
	color: #7d27d3;
	font-size: 18px;
	font-family: "PFDinTextRegular";
	display: inline-block;
	padding: 5px 0;
}
.f-page .amenities .item .link .scroll .item .sub-scroll {
	display: none;
}
.f-page .amenities .item .link .scroll .item .sub-scroll .item::before {
	display: none;
}
.active-btn {
	background-color: rgba(100,58,131,.9) !important;
}
.active-btn .text {
	color: #fff !important;
}
.f-page .amenities .item .link:hover {
	background-color: rgba(100,58,131,.9);
	opacity: 1;
	background-image: none;
}
.f-page .amenities .item .link:hover .button::before,
.f-page .amenities .item .link:hover .button::after {
	background-color: #fff;
}
.f-page .amenities .item .link .text {
	display: block;
	position: absolute;
	font-size: 30px;
	color: #fff;
	font-family: "PFDinTextRegular";
	line-height: 35px;
	left: 50px;
	right: 50px;
	top: 50%
}
.rot45 {
  -moz-transform: rotate(45deg);  /* Firefox */
  -o-transform: rotate(45deg);  /* Opera */
  -webkit-transform: rotate(45deg);  /* Safari y Chrome */
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476); /* IE */
}
.t31 {
	top: 31px !important;
}
.f-page .amenities .item .link .button {
  bottom: 62px;
  left: 50px;
  height: 27px;
  position: absolute;
  width: 27px;
  background-color: transparent;
  transition: all 0.6s ease-in-out 0s !important;
}
.f-page .amenities .item .link .button::before {
	content: '';
	background-color: #643a8e;
	border-radius: 1000px;
	display: inline-block;
	height: 3px;
	left: 0;
	position: absolute;
	top: 12px;
	width: 27px;
}
.f-page .amenities .item .link .button::after {
	content: '';
	background-color: #643a8e;
	border-radius: 1000px;
	display: inline-block;
	height: 27px;
	left: 12px;
	position: absolute;
	top: 0;
	width: 3px;
}
.f-page .amenities .item .link .active {
  bottom: 62px;
  left: 50px;
  height: 27px;
  position: absolute;
  width: 27px;
  background-color: transparent;
  transition: all 0.6s ease-in-out 0s !important;
}
.f-page .amenities .item .link .active::before {
	content: '';
	background-color: #fff;
	border-radius: 1000px;
	display: inline-block;
	height: 3px;
	left: 0;
	position: absolute;
	top: 12px;
	width: 27px;
}
.f-page .amenities .item .link .active::after {
	content: '';
	display: none !important;
}
.f-page .amenities .item .stoggle {
	height: 100%;
	display: none;
}
.f-page .amenities .item .stoggle .menu {
	padding: 0 30px;
	height: 100%;
}
.f-page .amenities .item .stoggle .menu .item {
	
}
.f-page .amenities .item .stoggle .menu .item a {
	font-size: 20px;
	color: #3c2054;
	font-family: "PFDinTextLight";
	padding: 10px 0;
	position: relative;
	padding-right: 50px;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}
.f-page .amenities .item .stoggle .menu .item .sub-menu {
	padding-left: 10px;
	padding-right: 10px;
	display: none;
}
.f-page .amenities .item .stoggle .menu .item a .button {
	width: 14px;
	height: 14px;
	display: block;
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -7px;
}
.f-page .amenities .item .stoggle .menu .item a .button::before {
	content: '';
	width: 14px;
	height: 2px;
	background-color: #3c2054;
	display: block;
	position: absolute;
	right: 0;
	top: 6px;
}
.f-page .amenities .item .stoggle .menu .item a .button::after {
	content: '';
	width: 2px;
	height: 14px;
	background-color: #3c2054;
	display: block;
	position: absolute;
	right: 6px;
	top: 0;
}
.header .search-block {
	width: auto;
	height: 40px;
	background-color: #fff;
	position: absolute;
	bottom: -40px;
	left: 0;
	right: 0;
	padding-left: 50px;
	padding-right: 100px;
	display: none;
}
.header .search-block input {
	width: 100%;
	display: block;
	height: 30px;
	margin-top: 5px;
	bottom: 5px;
	left: 50px;
	right: 100px;
	border-bottom: 1px solid #ededed;
	color: #7d27d3;
	font-size: 18px;
	font-family: "PFDinTextRegular";
}
.header .search-block .button {
	width: 19px;
	height: 19px;
	display: block;
	position: absolute;
	right: 50px;
	top: 10.5px;

}
.header .search-block .button::before {
	content: '';
	width: 18px;
	height: 2px;
	background-color: #643a8d;
	position: absolute;
	top: 8px;
	left: 0;
}
.header .search-block .button::after {
	content: '';
	width: 2px;
	height: 18px;
	background-color: #643a8d;
	position: absolute;
	top: 0px;
	left: 8px;
}

.sub-button::after {
	content: '';
	display: none !important;
}
.f-page .more-news-wp {
	padding: 35px 0 35px 50px;
}

.go-index {
	display: block;
	width: 100%;
}
.go-index .button {
	width: 100%;
	display: block;
	height: 60px;
	background-color: #3c2054;
	color: #fff;
	line-height: 60px;
	font-size: 20px;
	font-family: "PFDinTextLight";
}
.more-news-wp {
	padding-left: 290px;
}
.more-news-wp .more-news {
	color: #7d27d3;
	font-family: "PFDinTextRegular";
	font-size: 25px;
	line-height: 30px;
}
.more-news-wp .more-news span {
	margin-right: 16px;
	display: inline-block;
}

.popup-cb {
	background-color: #f7f7f7;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.popup-cb .popup-cb-wp {
	padding-left: 150px;
	padding-right: 150px;
}
.popup-cb .popup-cb-wp .title {
	color: #3c2054;
	font-size: 44px;
	line-height: auto;
	font-family: "PFDinTextMedium";
	padding-bottom: 30px;
	display: block;
}
.popup-cb .popup-cb-wp .item {
	width: 50%;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.popup-cb .popup-cb-wp .item input {
	height: 60px;
	width: 100%;
	display: block;
	border-bottom: 1px solid #e4e1e6;
	color: #3c2054;
	font-size: 22px;
	font-family: "PFDinTextLight";
	background-color: transparent;
}
.popup-cb .popup-cb-wp .item input::-webkit-input-placeholder {color:#3c2054;}
.popup-cb .popup-cb-wp .item input::-moz-placeholder          {color:#3c2054;}/* Firefox 19+ */
.popup-cb .popup-cb-wp .item input:-moz-placeholder           {color:#3c2054;}/* Firefox 18- */
.popup-cb .popup-cb-wp .item input:-ms-input-placeholder      {color:#3c2054;}
.popup-cb .popup-cb-wp .item textarea {
	height: 60px;
	width: 100%;
	display: block;
	border-bottom: 1px solid #e4e1e6;
	color: #3c2054;
	font-size: 22px;
	font-family: "PFDinTextLight";
	background-color: transparent;
	line-height: 58px;
	resize: none;
}
.popup-cb .popup-cb-wp .item textarea::-webkit-input-placeholder {color:#3c2054;}
.popup-cb .popup-cb-wp .item textarea::-moz-placeholder          {color:#3c2054;}/* Firefox 19+ */
.popup-cb .popup-cb-wp .item textarea:-moz-placeholder           {color:#3c2054;}/* Firefox 18- */
.popup-cb .popup-cb-wp .item textarea:-ms-input-placeholder      {color:#3c2054;}

.popup-cb .popup-cb-wp .close {
	width: 70px;
	height: 70px;
	display: block;
	background-color: #643a8d;
	border: none;
	position: absolute;
	right: 150px;
	top: 0;
}
.popup-cb .popup-cb-wp .close span {
	width: 18px;
	height: 18px;
	display: inline-block;
	position: relative;
}
.popup-cb .popup-cb-wp .close span::before {
	content: '';
	width: 2px;
	height: 18px;
	background-color: #fff;
	position: absolute;
	left: 8px;
	top: 0;
	display: block;
}
.popup-cb .popup-cb-wp .close span::after {
	content: '';
	width: 18px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	left: 0;
	top: 8px;
	display: block;
}

.popup-cb-wrapper {
	display: none;
	z-index: 999;
}

.callback-sv {
	color: #000;
	font-size: 16px;
}

.popup-cb .popup-cb-wp .button-wp {
	float: left;
	padding-top: 50px;
	position: relative;
}
.popup-cb .popup-cb-wp .button-wp .ok {
	font-size: 20px;
	color: #7d27d3;
	padding: 0 33px;
	background-color: #f0ebf5;
	height: 50px;
	line-height: 50px;
	display: block;
	border-radius: 25px;
	float: left;
	margin-left: 40px;
	margin-top: -8px;
}
.popup-cb .popup-cb-wp .button-wp .eror {
	font-size: 20px;
	color: #c80e6d;
	padding: 0 33px;
	background-color: #f4e9ef;
	height: 50px;
	line-height: 50px;
	display: block;
	border-radius: 25px;
	float: left;
	margin-left: 40px;
	margin-top: -8px;
}
.popup-cb .popup-cb-wp .button-wp .button {
	color: rgba(125,39,211,.5);
	font-size: 25px;
	padding-left: 62px;
	position: relative;
	display: inline-block;
	float: left;
}
.popup-cb .popup-cb-wp .button-wp .button::before {
	content: '';
	width: 30px;
	height: 3px;
	background-color: #7d27d3;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -1.5px;
}

/*footer*/

.footer::after {
	display: none;
}

/*адаптив*/

@media (max-width: 1235px) {
	.page .news-comp-list .item .text-wp {
		width: 470px;
	}
}

@media (max-width: 1163px) {
	.page .news-list .link {
		width: 480px;
	}
	.header .nav .item .link {
		padding: 0 10px;
	}
	.f-page .amenities .item .link .text {
		left: 25px;
		right: 25px;
	}
	.f-page .amenities .item .link .button {
		left: 25px;
	}
}
@media (max-width: 1000px) {
	.popup-cb .popup-cb-wp .close {
		width: 60px;
		height: 60px;
		right: 30px;
	}
	.popup-cb .popup-cb-wp .item textarea,
	.popup-cb .popup-cb-wp .item input {
		font-size: 18px;
		height: 50px;
		line-height: 48px;
	}
	.popup-cb .popup-cb-wp {
		padding-left: 30px;
		padding-right: 30px;
	}
	.popup-cb .popup-cb-wp .title {
		font-size: 33px;
	}
	.popup-cb .popup-cb-wp .item {
		width: 100% !important;
		padding: 0 !important;
	}
	.popup-cb .popup-cb-wp .button-wp {
		padding-top: 25px;
	}
	.popup-cb .popup-cb-wp .button-wp .ok {
		margin-left: 0;
		font-size: 18px;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		text-align: center;
		margin-top: 20px;
	}
	.popup-cb .popup-cb-wp .button-wp .eror {
		margin-left: 0;
		font-size: 18px;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		text-align: center;
		margin-top: 20px;
	}
	.popup-cb .popup-cb-wp .button-wp .button {
		font-size: 20px;
	}
	.header .search-block {
		padding-left: 30px;
		padding-right: 60px;
	}
	.header .search-block .button {
		right: 30px;
	}
	.content-wp .more-ysl {
		display: none;
	}
	.f-page .amenities .item,
	.f-page .amenities .item .link {
		background-image: none !important;
		background-color: transparent;
	}
	.f-page .amenities .item {
		width: 100%;
		height: auto;
		display: block;
	}
	.f-page .amenities .item .link {
		padding: 30px 76px 30px 30px;
	}
	.f-page .amenities .item .link:hover .text {
		color: #fff;
	}
	.f-page .amenities .item .link .text {
		position: static;
		color: #3c2054;
		font-size: 20px;
		font-family: "PFDinTextLight";
		line-height: 100%;
		display: inline-block;
	}
	.f-page .amenities .item .link .button {
		left: auto;
		right: 50px;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		width: 18px;
		height: 18px;
	}
	.f-page .amenities .item .link .button::before {
		width: 19px;
		top: 8px;
	}
	.f-page .amenities .item .link .button::after {
		height: 19px;
		left: 8px;
	}
	.f-page .more-news-wp {
		display: none;
	}
	.c-page .img-wp::after {
		height: 100%;
	}
	.page .title {
		padding-bottom: 0;
	}
	.header .search {
		display: none;
	}
	.c-page .more-news-wp {
		padding: 30px 30px;
		background-color: #f7f7f7;
		margin-top: -24px;
	}
	.c-page {
		width: 100%;
	}
	.c-page .img-wp h2 {
		font-size: 26px;
	}
	.c-page .img-wp .time {
		display: block;
		color: #fff;
		z-index: 2;
		font-size: 14px;
		font-family: "PFDinTextMedium";
		letter-spacing: 0.05px;
		position: absolute;
		left: 30px;
		top: 20px;
	}
	.c-page .img-wp h2 {
		left: 30px;
		right: 30px;
		bottom: 20px;
	}
	.content-wp p {
		font-size: 18px;
		line-height: 30px;
	}
	.content-wp {
		padding: 24px 30px;
	}
	.content-wp .button-wp {
		display: none;
	}
	.page .news-comp-list .item .time {
		display: block;
		width: 100%;
	}
	.more-news-wp {
		padding-left: 0;
		padding-bottom: 40px;
	}
	.more-news-wp .more-news {
		font-size: 20px;
	}
	.page .news-comp-list .item {
		padding-bottom: 30px;
	}
	.page .news-comp-list .item .text-wp {
		width: 100%;
		margin-top: 0;
	}
	.page .news-comp-list .item .text-wp .title {
		font-family: "PFDinTextLight";
		line-height: 30px;
		font-size: 18px;
		display: inline-block;
		width: 100%;
	}
	.page .news-comp-list .item .text-wp .description,
	.page .news-comp-list .item .text-wp .more {
		display: none;
	}
	.page .news-comp-list .item .image-wp {
		display: none;
	}
	.footer {
		display: none !important;
	}
	.page {
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 30px;
		padding-bottom: 0;
	}
	.page .title {
		display: none;
	}
	.page .news-list .time,
	.page .news-list .link {
		width: 100%;
	}
	.page .news-list .link {
		font-family: "PFDinTextLight";
		line-height: 30px;
		font-size: 18px;
	}
	.header .logo,
	.header .nav {
		display: none;
	}
	.header {
		height: 60px;
		padding-left: 30px;
		padding-right: 30px;
	}
	.header .mob-header .search {
		margin-top: 3px;
	}
	.page .news-list .button-wp {
		padding-left: 0;
		width: 100%;
		padding-top: 10px;
	}
	.page .news-list .button-wp .button {
		width: 100%;
	}
	.page .news-list {
		padding-top: 0;
		padding-bottom: 40px !important;
	}
}
@media (min-width: 1001px) {
	.go-index,
	.header .mob-header,
	.c-page .more-news-wp,
	.c-page .img-wp .time {
		display: none;
	}
}